<div class="tab-pane active" id='accordion2'>
	<div class="row">

        <!-- Gallery Items
        ================================================== --> 
        <div class="span12 gallery">

            <ul id="filterOptions" class="gallery-cats clearfix">
                <li class="active"><a href="#" class="all">All</a></li>
                <% _.each(genres, function(genre){ %>
                    <li><a href="#" class="<%= genre %>"><%= genre %></a></li>
                <% }); %> 
                
            </ul>

            <div class="row clearfix">
                <div class="loading">
                    <div class="content">
                        <div class="circle">
                        </div>
                        <div class="circle1">
                        </div>
                    </div>
                </div>
                <ul class="gallery-post-grid holder">

                </ul>
            </div>
        </div><!-- End gallery list-->

    </div><!-- End container row -->
</div>
